.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding-bottom: 5px;
}

.title {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #6e6893;
  padding: 0 10px;
}
 

 